@import '../node_modules/modern-normalize/modern-normalize.css';

html {
  --grey: #f5f5f5
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.7;
  font-size: 1.4em;
  color: #333;
  background-color: var(--grey);
}

h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 2.1em;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin-bottom: 1.2em;
}

a {
  color: #0077cc;
}

a:hover, a:focus {
  color: #004499;
}

figure {
  margin: 2em 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

li {
  font-size: 1.2rem;
  margin: 0.5em;
}

figcaption {
  font-style: italic;
  color: #666;
  margin-top: 0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  height: 1px;
  background: #999;
  opacity: 0.5;
  margin: 2em 0;
}

main {
  background-color: #fff;
  padding: 1.6em 1.4em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  margin-top: 5em;
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
}

.warning {
  font-size: 1rem;
  padding: 1.1em;
  background-color: var(--grey);
}

@media (min-width: 600px) {
  body {
    padding: 1em;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
  }
}